#word-entry-box,
#definition-box,
#search-side,
#result-side {
  display: inline-block;
  height: 100%;
}

#search-side {
  width: calc(40% - 30px);
  background-color: red;
  padding: 15px;
}

#result-side {
  width: calc(60% - 30px);
  padding: 15px;
}

#word-entry-box {
  width: 30%;
}

#definition-box {
  width: 60%;
}